html, body {
	background: #400001 url(images/stones.jpg);
	background-size: auto 100%;
	background-attachment: fixed;
	color: #FFCDA2;
	margin: 0px 0px 0px 0px;
	border: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
    overflow-x: hidden;
    height:100%;
}
	h1 {
		color:black;
		font-family: 'papyrus', Helvetica;
		font-weight: bolder;
		text-shadow: 1px 1px #FFCDA2;
		font-size: 50px;
	}
	h2 {
		color: #FFCDA2;
		font-family: 'papyrus', Helvetica;
		text-shadow: 1px 1px black;
		font-weight: bolder;
		font-size: 35px;
	}
	h3 {
		color:black;
		font-family: 'Times', Helvetica;
		font-weight: bold;
		/*text-shadow: 1px 1px #FFCDA2;*/
		font-size: 25px;
		margin:auto;
	}
	p{
		color:black;
		font-family: 'times', Helvetica;
		font-weight: lighter;
		font-size: 25px;
		line-height: 150%;
	}
	h6{
		font-family: 'times', Helvetica;
		font-size: 20px;
		font-weight: lighter;
	}
	a {
		text-decoration: none;
		color:inherit;
	}
	.footer a {
		color:#FFCDA2;
	}
	.content a {
		color:inherit;
		font-family: inherit;
		font-weight: inherit;
		font-size: inherit;
		line-height: inherit;
	}

	blockquote {
		border-top: 2px black solid;
		border-bottom: 2px black solid;
		color: black;
		text-transform: uppercase;
		font-size: 26px;
		font-family: Cambria;
		text-align: justify;
		text-align: center;
	}

nav {
	position:fixed;
	z-index:10;
	top: 35%;
	left:-60px;
}
	nav ul {
		background: #400001;
		background: linear-gradient(top, #500001 0%, #300001 100%);
		background: -moz-linear-gradient(top, #500001 0%, #300001 100%);
		background: -webkit-linear-gradient(top, #500001 0%,#300001 100%);
		border-radius: 30px;
		list-style: none;
		position: relative;
		display: table;
	}
	nav ul li {
		float: bottom;
		opacity: .9;
	}
		nav ul li:hover {
			background: #FFCDA2;
			opacity:1;
		}
		nav ul li:hover a {
			color: #000000;
		}
		nav ul li a {
			display: inline-block; 
			padding: 10px 30px;
			font-family: 'times', Helvetica;
			font-size: 20px;
		}
		nav ul li:hover > ul {
			display:inline-block;
			float: right;
		}

	nav ul ul {
		background-color:rgba(255,255,255,.9);
		background: linear-gradient(left, rgba(255,255,255,.9) 50%,rgba(255,255,255,0) 100%);
		background: -moz-linear-gradient(left, rgba(255,255,255,.9) 50%,rgba(255,255,255,0) 100%);
		background: -webkit-linear-gradient(left, rgba(255,255,255,.9) 50%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(left, rgba(255,255,255,.9) 50%,rgba(255,255,255,0) 100%);
		display: none;
		border-radius:0;
		padding: 0;
		border: 0px;
		position: absolute;
		left: 100%;
	}
		nav ul ul li:hover{
			background-color:rgba(255,255,255,1);
			background: linear-gradient(left, rgba(255,255,255,1) 50%,rgba(255,255,255,.6) 100%);
			background: -moz-linear-gradient(left, rgba(255,255,255,1) 50%,rgba(255,255,255,.6) 100%);
			background: -webkit-linear-gradient(left, rgba(255,255,255,1) 50%,rgba(255,255,255,.6) 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(left, rgba(255,255,255,1) 50%,rgba(255,255,255,.6) 100%);
		}

.header{
	z-index: 2;
	background-image: url(images/header.png);
	background-size:100% 100%;
	background-position: bottom;
	position: fixed;
	top:0;
	width: 100%;
	height: 225px;
	overflow: hidden;
	white-space: normal;
}
	.header table {
		width: 100%;
		text-align: center;
		display:table;
		height: 140px;
		padding-top: 15px;
		table-layout: fixed;
	}
	.header h3 {
		font-size: 22px;
	}
	.header img {
		height:130px;
	}

.first_letter{
	position:relative;
	top:8px;
	font-size: 150%;
	font-weight: 100;
}

.index_content{
	z-index: 1;
	position: absolute;
	top:275px;
	width:50%;
	left:25%;
	text-align: center;
	bottom:0%;
	margin-bottom: 40px;
}
	.slogan {
		position: absolute;
		bottom:-10px;
		font-size:150%;
		right:-120px;
	}
		.slogan h2{
			font-size: 38px;
		}
	@media (max-width: 735px) {
		.slogan {
	    	display:none;
		}
	}

.content{
	z-index: 1;
	top:200px;
	width: 56%;
	left:22%;
	position: absolute;
	text-align: center;
	margin-bottom: 60px;
	padding-bottom:30px;
}
	.content table {
		color: black;
		position: relative;
		margin:auto auto;
		width:100%;
		text-align: left;
		table-layout: fixed;
		font-size: inherit;
		font-family: inherit;
		padding-bottom: 20px;
		border-bottom: 2px black solid;
	}
	table .right {
		text-align:right;
	}
	table .apostrophe {
		font-size:smaller;
		text-align:right;
	}
	.content img{
		border:4px solid black;
		width:40%;
	}
	.indent{
		position: relative;
    	left: 5%;
	}

.backgroundbox{
	z-index: 0;
	position:fixed;
	background-size: cover;
	height: inherit;
	width:1300px;
	margin-left: 50%;
	left:-650px;
	margin-bottom: 0;
	overflow: auto;
	display: block;
	bottom:0px;
	overflow: auto;
}

#contact{
	text-align:center;
}
#contact-text{
	display:inline-block;
	box-sizing: border-box;
	text-align:right;
	height:400px;
	width:48%;
	float:left;
	vertical-align: top;
	padding-right:8%;
}
#map{
	display:inline-block;
	height:400px;
	width:48%;
	float:right;
}

@media (max-width: 1135px) {
    #contact-text, #map {
    	display:block;
		width:100%;
		float:none;
		text-align:center;
	}
	#contact-text{
		height:auto;
		padding:0;
	}
}

#appointmentForm{
	margin:auto;
	width:450px;
	padding:10px;
	background-color:#E6B88A;
	opacity:.9;
	border:1px solid black;
	border-radius:12px;
	color:black;
}
	.inputGroup{
		border:none;
	}
		.inputLabel{
			font-size:20px;
		}
		.userInput{
			height:30px;
		    width:250px;
		    margin-top:8px;
		    border:1px solid black;
		    border-radius:12px;
		    text-align:center;
		    background-color:white;
		    font-size:13px;
		    font-weight:600;
		}
		#emailInput{
			position:relative;
			left:17%;
		}
		#submitInput{
			height:30px;
		    width:120px;
		    margin-top:8px;
		    border:1px solid black;
		    border-radius:12px;
		    text-align:center;
		    background-color:white;
		    font-size:13px;
		    font-weight:600;
		}

.footer {
	z-index: 3;
	background-color: #2E1703;
	position: fixed;
	bottom:0;
	width: 100%;
	height: 40px;
	opacity: .9;
}
	.footer table {
		z-index: 3;
		width: 90%;
		top: 100%;
		min-width: 880px;
		text-align: center;
		margin: auto auto;
		display:table;
		vertical-align: center;
	}
	.footer table td {
		padding-top:5px;
	}
