<div class="footerDiv">
	<h6><a href="mailto:Jim@RiverStoneCenterNj.com"><img src="images/mailicon.png" height="15px" width="22px">  Jim@RiverStoneCenterNJ.com</a></h6>
</div>
<div class="footerDiv">
	<h6><a href="tel:973-627-2191"><img src="images/phoneicon.png" height="18px" width="24px">  973.627.2191</a></h6>
</div>
<div class="footerDiv">
	<h6><a href="https://www.google.com/maps/place/The+Riverstone+Center/@40.892808,-74.475809,15z/data=!4m2!3m1!1s0x0:0x78f4e0ffe2f1bfcd?sa=X&ved=0CGMQ_BIwDWoVChMIlPqKw5T4xwIVSYI-Ch3xeQcB" target="_blank"><img src="images/homeicon.png" height="20px" width="23px">  21 Second Ave. Denville, NJ 07834</a></h6>
</div>