<nav>
	<ul>
		<li><a href="index.html">Home</a></li>

		<li><a href="riverstone-center.html">About</a>
			<ul>
				<li><a href="riverstone-center.html">RiverStone Center</a></li>
				<li><a href="jim-haessig.html">Jim Haessig</a></li>
				<!-- <li><a href="philosophy.html">Philosophy</a></li> -->
			</ul>
		</li>

		<li><a href="testimonials.html">Testimonials</a></li>

		<li><a href="therapeutic-massage.html">Therapeutic Massage</a></li>
		<li><a href="transformative-touch-therapy.html">Transformative Touch Somatic Therapy</a></li>
		<li><a href="wellness-leadership-coaching.html">Wellness/Leadership Coaching</a></li>
		<li><a href="mens-groups.html">Men’s Support Groups</a></li>
			<!-- <ul>
				<li><a href="massage.html">Therapeutic Massage</a>
					<ul>
						<li><a href="massage.html#SwedishDetox">Swedish Detox</a></li>
						<li><a href="massage.html#Therapeutic">Therapeutic</a></li>
						<li><a href="massage.html#Medical">Medical</a></li>
						<li><a href="massage.html#Geriatric">Geriatric</a></li>
						<li><a href="massage.html#MuscleRelease">Muscle Release</a></li>
						<li><a href="massage.html#Sports">Sports</a>
						<li><a href="massage.html#Emotional">Emotional Let-Go</a></li>
					</ul>
				</li>
				<li><a href="leadership-coaching.html">Leadership Coaching</a></li>
			</ul>
		</li> -->

		<li><a href="pricing.html">Pricing & Packages</a></li>

		<li><a href="request-appointment.html">Schedule an Appointment</a></li>

		<li><a href="contact.html">Contact, Hours, & Directions</a></li>
	</ul>
</nav>